.features {
  display: block;

  @media screen and (min-width: 768px){
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

}

.features__title {
  
  margin-bottom: 10px;
  
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;

 @media screen and (min-width: 1200px){
  text-align: left;
 }
}

.features__item {

@media screen and (min-width: 480px){
  width: 450px;
}
@media screen and (min-width: 768px) {
  width: calc((100% - 30px) / 2);
}

@media screen and (min-width: 1200px){
  width: calc((100% - 90px) / 4);
}

  &:nth-child(4n) {
      margin-right: 0;
    }

}


.features__sprite {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  padding: 0;

  margin: 0;
  margin-bottom: 30px;
  background-color: var(--team-bg-color);
}

.features__text {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}