.send-button {
  display: flex;
  justify-content: center;

}

.send-button__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 52px;
  background: #2196F3;
  box-shadow: 0px 4px 4px var(--btn-shadow);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}



.send-button__text {

  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}