.site-nav {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav__item {
  margin-right: 50px;

  &:last-child {
      margin-right: 0;
    }
}





.site-nav__link {
  position: relative;

  color: var(--black-color);

  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;


  transition: color 250ms var(--timing-function);

&:hover,
&:focus {
    color: var(--blue-color);

  }

}


/* Подчеркивание для страницы Студия */
.site-nav__link.studio {
  color: var(--blue-color);
}

.site-nav__link.studio::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--blue-color);
}

/* Подчеркивание для страницы Портфолио */
.site-nav__link.page-portfolio {
  color: var(--blue-color);
}

.site-nav__link.page-portfolio::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--blue-color);
}



