  :root{
  --black-color: #000000;
  --white-color: #FFFFFF;
  --blue-color: #2196F3;
  --primary-color-text: #757575;
  --secondary-color-text: #212121;
  --grey-bg-color: #2F303A;
  --team-bg-color: #F5F4FA;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --social-icons-color: #afb1b8;
  --footer-icons-color: rgba(255, 255, 255, 0.1);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --overlay-color: rgba(33, 150, 243, 0.9);
  --input-color: rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --btn-shadow: rgba(0, 0, 0, 0.15);
  --sign-input-border-color: rgba(255, 255, 255, 0.3);
  }
  
